@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* { box-sizing: border-box; }

body,
blockquote,
figure,
button,
p {
    margin: 0;
}

body {
    position: relative;
    display: grid;
    gap: 1.5rem;
    align-content: center;
    min-height: 100vh;
    font: lighter 1.125rem/1.35 'Inter', sans-serif;
    text-align: center;
    padding: 1rem 1.5rem 3rem;
    color: hsl(240, 38%, 20%);
    background: url('images/pattern-curve.svg') no-repeat left 0 bottom / calc(50% + 10rem);
}

body > * {
    max-width: 32rem;
    margin: auto;
}

.sr-only { 
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.container {
    position: relative;
    order: -1;
    padding: min(12%, 3.75rem); 
    background: url('images/pattern-bg.svg') no-repeat center / contain;
}

.container > * { box-shadow: 0 2rem 2rem -1.25rem hsla(240, 38%, 20%, .4) }

.person {
    display: block;
    max-width: 100%;
    border-radius: .25rem;
}

.btns {
    position: absolute;
    left: 50%;
    bottom: 12%;
    border-radius: 100vmax;
    font-size: 0;
    transform: translate(-50%, 50%);
    overflow: hidden;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 44px;
    min-height: 44px;
    border: none;
    background: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn:hover { background: hsl(240, 57%, 97%); }

.btn:focus-visible {
    outline: 2px dotted hsl(302, 51%, 62%);
    outline-offset: -.75rem;
}

.arrow { transform: scale(.875); }

.text {
    padding: 1.5rem .5rem;
    background: url('images/pattern-quotes.svg') no-repeat top center / 3.75rem;
}

.quote { font-size: clamp(1.125rem, 2.5vw, 2rem); }

.author {
    font-size: clamp(.875rem, 1.625vw, 1.25rem);
    padding: 1rem;
}

.name { font-weight: bold; }

.role {
    display: block;
    font-weight: normal;
    color: hsl(240, 18%, 77%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 1.5rem;
    width: 100%;
    transform: translateX(-50%);
    font-size: .75rem;
}

.attribution-link {
    font-weight: bold;
    color: hsl(245, 52%, 45%);
    text-decoration: none;
}

.attribution-link:hover { text-decoration: underline; }

.attribution-link:focus-visible { outline: 2px dotted hsl(302, 51%, 62%); }

.animate .text { animation: 1500ms ease-out text; }

@keyframes text {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animate .person { animation: 1500ms ease-out img; }

@keyframes img {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media only screen and (min-width: 60em) {
    body {
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: minmax(auto, 30.5rem) auto minmax(auto, 30.5rem);
    }

    body > * { max-width: 50rem; }

    .btns { left: 30%; }

    .btn { padding: 1.125rem 1.375rem; }

    .arrow { transform: scale(1); }

    .text {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        z-index: 1;
        text-align: left;
        max-width: 48rem;
        padding: 4rem;
        background-position: 9.25rem 0;
        background-size: 7.5rem;
    }

    .quote { margin-bottom: 2.25rem; }

    .author { padding: 0; }

    .role { display: inline; }

    .container {
        grid-row: 1 / -1;
        grid-column: 2 / 4;
        padding: min(12%, 5.275em);
    }
    
    @keyframes text {
        from {
            opacity: 0;
            transform: translateX(-2%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes img {
        from {
            opacity: 0;
            transform: rotate(3deg);
        }
        to {
            opacity: 1;
            transform: rotate(0);
        }
    }
}

@media (prefers-reduced-motion) {
    .animate .person,
    .animate .text { animation: none; }
}